@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--site-center: 1440px;
		--site-center-md: 820px;
		--site-center-sm: 620px;

		--element-spacing: 1.5rem;

		--site-side-spacing: 1rem;
		--container-spacing: 2rem;

		--grid-col-gap: 1rem;
		--grid-row-gap: 1rem;
	}

	@screen md {
		:root {
			--site-side-spacing: 2.5rem;
			--container-spacing: 3.5rem;

			--grid-col-gap: 2rem;
			--grid-row-gap: 2rem;
		}
	}

	b,
	strong {
		@apply font-semibold;
	}
}
