import type { I{{pascalCase componentName}}Props } from './types';

export const {{pascalCase componentName}}: React.FC<I{{pascalCase componentName}}Props> = () => {
	return (
		<div>
			<h1>{{pascalCase componentName}}</h1>
		</div>
	);
};
